.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cal {
    width: 19px;
    height: 19px;
    background-position: 0 0;
}

.sprite-cal1 {
    width: 19px;
    height: 19px;
    background-position: 0 -19px;
}

.sprite-forum {
    width: 28px;
    height: 20px;
    background-position: 0 -38px;
}

.sprite-forum1 {
    width: 28px;
    height: 20px;
    background-position: 0 -58px;
}

.sprite-jou {
    width: 20px;
    height: 20px;
    background-position: 0 -78px;
}

.sprite-jou1 {
    width: 20px;
    height: 20px;
    background-position: 0 -98px;
}
