
body {
    background: url(../img/bkground.png);
    background-size: cover;
    background-repeat: no-repeat ;
    height: 100vh;
    width: 100vw;
}
.headercon {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 56px;
    grid-column: 1/-1;
}
.JOURNEY {
    font-family: Verdana;
    font-size: 20px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-left: 81px;
    margin-top: 18px;
    font-weight: bolder;
    text-decoration: none;
    float: left;
}
.JOURNEY:hover {
    color: #3cb878;
}
.pravo {
    float: right;
    margin-top: 19px;
}
.sprit {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    text-align: right;
}
.cal {
    width: 19px;
    height: 19px;
    background-position: 0 0;
    margin-right: 28px;
    float: right;
}
.cal:hover {
    background-position: 0 -19px;
}
.forum {
    width: 28px;
    height: 20px;
    background-position: 0 -38px;
    margin-right: 28px;
    float: right;
}
.forum:hover {
    background-position: 0 -58px;
}
.compas {
    width: 20px;
    height: 20px;
    background-position: 0 -78px;
    margin-right: 25px;
    float: right;
}
.compas:hover {
    background-position: 0 -98px;
}
.poloska {
    opacity: 0.3;
    font-size: 19px;
    color: white;
    font-weight: lighter;
    margin-right: 24px;
    margin-top: 17px;
    float: right;
}
.welcomlog {
    font-family: ﻿Verdana;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-right: 6px;
    margin-top: 21px;
    float: right;
}
.orsight {
    font-family: ﻿Verdana;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    margin-right: 93px;
    margin-top: 21px;
    float: right;
}
.signup {
    text-decoration: none;
    color: #3cb878;
}
.signup:hover {
    text-decoration: underline;
}
.login {
    text-decoration: none;
    color: #3cb878;
}
.login:hover {
    text-decoration: underline;
}
.containerdliaform {
    position: relative;
}
.formcontainer {
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
@media (max-height: 710px) {
    .formcontainer {
        position: relative;
    }

}
.kvadratik {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    float: left;
    margin-top: 19px;
}
.SignUp {
    font-family: ﻿Verdana;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
    text-align: center;
    width: 77px;
    height: 19px;
    display: inline-block;
    margin-left: 42px;
    margin-top: 19px;
}
.LogInform {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    text-align: left;
    float: right;
    margin-right: 59px;
    margin-top: 23px;
    text-decoration: none;
}
.LogInform:hover {
    text-decoration: underline;
}
.facebookcont {
    width: 157px;
    height: 47px;
    background-color: #305db8;
    margin-top: 15px;
    margin-left: 62px;
    display: inline-block;
    border-radius: 5px;

}
.facebookcont:hover {
    background-color: #264b96;
}
.googlecont {
    width: 157px;
    height: 47px;
    background-color: #df4a32;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 8px;
}
.googlecont:hover {
    background-color: #c3412c;
}
.facebooklogo {
    margin-top: 13px;
    margin-left: 20px;
    float: left;
}
.linesocial {
    font-size: 28px;
    margin-left: 17px;
    margin-top: 8px;
    opacity: 0.3;
    float: left;
}
.Facebook {
    color: white;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 18px;
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
}
.googlelogo {
    margin-top: 15px;
    margin-left: 13px;
    float: left;
}
.linesocialg {
    opacity: 0.3;
    float: left;
    font-size: 28px;
    margin-top: 8px;
    margin-left: 9px;
}
.Google {
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    color: white;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 24px;
}
.formlineor {
    background-color: #eaeaea;
    width: 135px;
    height: 1px;
    position: absolute;
}
.formlineorl {
    margin-left: 62px;
    margin-top: 37px;
}
.formlineorr {
    margin-left: 249px;
    margin-top: 37px;
}
.oronform {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);
    text-align: left;
    margin-top: 30px;
    margin-left: 215px;
    position: absolute;
}
.inputform {
    width: 305px;
    height: 46px;
    margin-left: 62px;
    margin-top: 9px;
    border: #eaeaea solid 1px;
    padding-left: 17px;
    position: relative;
    bottom: 0;
}
.inputform:focus {
    border: white solid 1px;
    box-shadow: 0 9px 20px -5px rgba(117,117,117,1);
    outline: 0;
    bottom: 7px;
}
.firstname {
    margin-top: 66px;
}
.check {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);
    text-align: left;
}
.TermsConditions {
    color: #49bd81;
}
.checkcont:hover span{
    text-decoration: underline;
}
.checkcont {
    padding: 0;
    margin-left: 62px;
    margin-top: 19px;
    display: inline-block;
}
.submit {
    background-color: #3cb878;
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    width: 322px;
    height: 46px;
    margin-top: 23px;
    margin-left: 62px;
    outline: 0;
    border: 0;
    padding-left: 100px;
}
.submit:hover {
    background-color: #329a65;
}
.submit:active {
    background-color: #2d6e3e;
}