* {
    margin:0;
    padding:0;
}
.glob-container {
    width: 1366px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../img/background.png);
}
header {
    height: 138px;
}
.layer {
    padding-top: 55px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container-logo {
    margin-top: 44px;
    margin-left: 155px;
    float: left;
    text-decoration: none;
    width: 200px;

}
.container-logo:hover .logo1 {
    color: #f26522;
    transition: 0.5s;
}
.container-logo:hover .logo2 {
    color: #f26522;
    transition: 0.5s;

}
.container-logo:hover .logok {
    background-image: url(../img/logo2.png);
    padding-right: 0;
    padding-top: 0;
    transition: 0.5s;
}
.logok {
    background-image: url(../img/logo.png);
    display: inline-block;
    float: left;
    width: 46px;
    height: 44px;
}
.logofont {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding-left: 15px;
}
.otherfont {
    color: rgba(255, 255, 255, 255);
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
}
.logo1 {
    font-size: 29px;
}

.logo2 {
    font-size: 18px;
}
.dannie {
    font-size: 18px;
    text-align: right;
    float: right;
    padding-right: 147px;
    padding-top: 57px;
    font-weight: bold;
}
.textpodkartinkami {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.kartcont1 {
    float: left;
    width: 307px;
    position: relative;
    padding-left: 157px;
  }
.imgkont {
    display: inline-block;
    width: 308px;
    height: 200px;
    background: linear-gradient(to bottom, white, black);
    padding: 3px;
    box-shadow: 0px 19px 35px 7px #000000;
}
.kartcont2 {
    width: 307px;
    position: relative;
    float: none;
    padding-left: 69px;
    display: inline-block;
}
.kartcont3 {
    float: right;
    width: 307px;
    position: relative;
    margin-right: 150px;
}
.kartcont4 {
    float: left;
    width: 307px;
    position: relative;
    padding-left: 157px;
}
.kartcont5 {
    width: 307px;
    margin-left: 69px;
    position: relative;
    display: inline-block;
}
.kartcont6 {
    float: right;
    width: 307px;
    position: relative;
    margin-right: 150px;
}
.hov {
    position: absolute;
    width: 313px;
    height: 65px;
    background: #f26522;
    bottom: 39px;
    display: none;
}
.hovfrom {
    font-size: 10px;
    text-align: left;
    padding-left: 23px;
    padding-top: 16px;
}
.hov50 {
    font-size: 20px;
    text-align: left;
    padding-left: 23px;
    display: inline-block;
}
.details {
    font-size: 14px;
    text-align: left;
    display: inline-block;
    padding-left: 126px;
}
.strelka {
    margin-left: 15px;
}
.hoverimg:hover .hov {
    display: block;
}
.hoverimg:hover .textpodkartinkami {
    color: #f26522;
    transition: 0.5s;
}
.niz {
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}
