.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.Ramda-js {
    font-size: 80px;
    color: black;
    text-decoration: none;
    margin-bottom: 45px;

}

.mda-js {
    color: #4bcaff;
}

.verhpolosa {
    background-color: #35444f;
    height: 75px;
    margin-top: 45px;
}

.text-verh-polosa {
    color: aliceblue;
    display: inline-block;
    font-size: 24px;
    margin-left: 203px;
    padding-right: 42px;
    line-height: 73px;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 0;
    text-decoration: none;
}

.text-verh-polosa:hover {
    background-color: #222f3a;
    border-right: #818181 solid 1px;
    border-left: #818181 solid 1px;
    margin-left: 161px;
    padding-left: 41px;
    padding-right: 41px;
}

.text-verh-polosa1 {
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    line-height: 73px;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 0;
    text-decoration: none;
    padding-left: 41px;
    padding-right: 42px;
}
.text-verh-polosa1:hover {
    background-color: #222f3a;
    border-right: #818181 solid 1px;
    border-left: #818181 solid 1px;
    padding-left: 40px;
    padding-right: 41px;
    margin-left: 0;
}

.text-verh-polosa2 {
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    margin-left: 43px;
    line-height: 73px;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 0;
    text-decoration: none;
    padding-right: 42px;
}
.text-verh-polosa2:hover {
    background-color: #222f3a;
    border-right: #818181 solid 1px;
    border-left: #818181 solid 1px;
    padding-left: 42px;
    padding-right: 41px;
    margin-left: 0;
}

.text-verh-polosa3 {
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    line-height: 73px;
    vertical-align: middle;
    padding-top: 0;
    margin-top: 0;
    text-decoration: none;
    padding-right: 42px;
    padding-left: 41px;
}
.text-verh-polosa3:hover {
    background-color: #222f3a;
    border-right: #818181 solid 1px;
    border-left: #818181 solid 1px;
    padding-left: 40px;
    padding-right: 41px;
    margin-left: 0;
}

.kvadratik {
    background-color: #222f3a;
    width: 150px;
    height: 73px;
    margin: 0;
    display: inline-block;
    border: #818181 solid 1px;
}

.kvadrat-pravii {
    width: 342px;
    height: 400px;
    border: black solid 1px;
    margin-top: 54px;
    display: inline-block;
    float: left;
    padding: 0;
}

.kvadrat-kartinka {
    width: 885px;
    height: 529px;
    display: inline-block;
    margin-left: 49px;
    margin-top: 54px;
    border: black solid 1px;
    overflow:hidden;
}

.kartinka {
    margin: 75px 268px 73px 297px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.kartinka:hover
{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.pravii-kvadratvkvadrate {
    height: 81px;
    width: 342px;
    display: inline-block;
    background-color: #dbdbdb;
    margin: auto;
}

.prav1 {
    display: block;
    font-size: 29.99244px;
    padding: auto;
    padding-left: 44px;
    color: #485863;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 80px;
    width: 288px;
}
.prav1:hover {
    background-color: #dbdbdb;
    padding-left: 54px;
    color: black;
}


.abzac1 {
    font-size: 18px;
    margin-left: 426px;
    font-weight: bold
}

.abzac2 {
    font-size: 18px;
    margin-left: 426px;
    font-weight: bold;
}

.nignpolosa {
    height: 69px;
    background-color: #b4b7ba;
}

.tekst-snizu1 {
    font-size: 24px;
    margin-left: 44px;
    margin-top: 22px;
    display: inline;
    text-decoration: none;
    color: black;
}


.tekst-snizu1:hover {
    color: #80a1b2;
}

.cop {
    font-size: 22px;
    display: inline-block;
    margin-left: 200px;
}
