.container {
    width: 1192px;
    height: 736px;
    margin: auto;
    background-color: #3a4965;
    padding: 24px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
}
table{
    width: 1192px;
    height: 736px;

}
tr>td {
    height: 69px;
    border-right: #cfcfcf 2px solid;
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
tr {
    position: relative;
}
.top {
    height: 156px;
    background-color: #fafafa;
    color: #484848;
    vertical-align: top;
    font-weight: bolder;
}
.first {
    vertical-align: middle;
}
.divatprice {
    height: 43px;
    color: #ffffff;
    font-size: 24px;
    padding-top: 27px;

}
.storage::before {
    content: url("../img/storage.png");
    margin: 12px;
}
.Bandwidth:before {
    content: url("../img/Bandwidth.png");
    margin: 12px;
}
.Email:before {
    content: url("../img/Email.png");
    margin: 12px;
}
.support:before {
    content: url("../img/support.png");
    margin: 12px;
}
.products:before {
    content: url("../img/products.png");
    margin: 12px;
}
.users:before {
    content: url("../img/users.png");
    margin: 12px;
}
.noneborder {
    border: none;
}
.odd>td {
    background-color: #f2f2f2;
}
.even>td{
    background-color: #e3e3e3;
}
.buttonsbottom {
    width: 192px;
    height: 30px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 255);
    font-weight: bolder;
    margin: auto;
    padding-top: 19px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.gray {
    background-color: #484848;
}
.lime {
    background-color: #89c331;
}
.red {
    background-color: #f04a56;
}
.turquoise {
    background-color: #20807c;
}
.buttonbottomline {
    height: 6px;
    background-color: black;
    opacity: 0.2;
    margin-top: 8px;
    border-radius: 0 0 5px 5px;
}
.buttonsbottom:hover {
    background-color: #222f3a;
    transition: 0.5s;
    transform: translatey(3px);
    cursor: crosshair;
}